h1 {
    text-align: left;
    height: auto; /* Módosítva az eredeti 50px-ről, hogy alkalmazkodjon a különböző eszközök méretéhez */
    display: inline-block; /* Hozzáadva, hogy a logó mellett maradjon */
    margin: auto;
    vertical-align: middle;
    color: white;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 110%;
}

.cim {
    margin-left: auto
}

#logo {
    height: 50px; /* Módosítva az eredeti 50px-ről, hogy alkalmazkodjon a különböző eszközök méretéhez */
    float: left;
    vertical-align: middle;
}

.menu {
    margin: 0px;
    padding: auto;
}

.navbar {
    background-color: black;
    margin: 0px;
    color: rgb(156, 156, 156);
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    height: fit-content;
}

a {
    font-weight: bold;
    font-size: 22px;
    margin: 0px 5px;
    text-decoration: none;
    color: rgb(156, 156, 156);
    vertical-align: middle;
}

.hiv {

    justify-content: space-between;
}

.hiv a {
    color: rgb(156, 156, 156);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
}

.hiv a:hover {
    background-color: rgb(124, 6, 6);
    color: rgb(156, 156, 156);
}

.paratlan {
    background-image: url("képek/fokep1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: bottom;
    background-size: cover;
}

.paros {
    height: 100vh;
    width: 100%;
    padding: 10px;
}

p {
    text-align: justify;
    margin: auto;
    font-size: auto;
    padding: 20px;
}

.span {
    font-size: larger;
    padding: 10px 10px;
}

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: auto;
}

nav {
    padding: auto;
}

nav ul {
    padding: auto;
    list-style: none;
}
  
nav ul li {
    display: inline-block;
    margin: 0px;
}
  
nav ul li a:hover {
    text-decoration: none;
    color: rgb(124, 6, 6);
}
  
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    vertical-align: middle;
    margin-right: auto;
}

.nodot li {
    list-style: none;
    padding: 10px;
}

.nodot2 li {
    list-style: none;
    padding: 5px;
    font-size: auto;
}

.nodot3 li {
    list-style: none;
    padding: 40px;
    font-size: auto;

}

.kozep {
    padding-left: auto;
}

.kicsi {
    height: 50px;
    position: center;
}

.kep {
    height: 80px;
    position: center;
}

footer {
    height: fit-content;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
@media (max-width: 800px) {
    p {
        font-size: 10px;
        padding: 0px;
    }

    h2 {
        font-size: 20px;
        margin: 5px, 0px, 0px, 0px;
    }

    .paros, .para{
        padding: 0px, 20px;
    }
}

@media (max-width: 1000px) {
    .menu-toggle {
      display: block;
      float: left;
      margin-right: 30px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    nav ul {
      display: none;
      width: 300px;
      text-align: center;
      background-color: black;
      position: fixed;
      top: 65px;
      right: 0px;
    }
  
    nav ul.active {
        display: block;
        padding: 0px;
    }
  
    nav ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-top: 1px solid grey;
      &:last-child { border-bottom: 1px solid grey; }
      width: 300px;
    }

  }

@media (max-width: 500px) {
    h1 {
        justify-items: center;
        font-size: 24px;
        vertical-align: bottom;
    }
}

@media (min-width: 2000px) {
    h1{
        font-size: 60px;
    }

    #logo {
        height: 80px;
    }
}